#image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
    
}
.main-image {
    max-height: 500px;
}
.main-pic {
    width: 100%;
    height: 100%
}
.other-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    height: 500px;
    width: 100%;
    overflow: hidden;
    
}

.other-images img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
}



.middle-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-info {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.reserve-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.price-rating-numReview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}
.spot-rating {
    padding-left: 5px;
}
.review-info {
    font-size: 20px;
}

.review-stuff {
    display: flex;
    flex-direction: column;
}

.post-review-button {
    width: 140px;
}

.reserve {
    border: 2px solid black;
    background-color: rgb(224, 69, 69);
    color: white;
    padding: 10px 50px;
}

.aspect-ratio-box {
    width: 100%;
    height: 0;
    padding-top: 50%;
    position: relative;
}


@media screen and (max-width: 1024px) {
    #image-container {
        max-height: 400px; /* Adjust the max-height as needed */
    }
    .main-image {
        max-height: 400px;
    }
    .other-images img {
        max-height: 100%; /* Ensure the image does not exceed the height of its container */
        max-width: 100%; /* Ensure the image does not exceed the width of its container */
        object-position: center;
    }

    .other-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        height: 400px;
        width: 100%;
        overflow: hidden;
        
    }
}


@media (min-width: 1501px) {
    .other-images {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, 250px); 
    }
}