#image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
}
.main-image {
    max-height: 500px;
    /* width: 700px; */
    border: 1px solid red;
}
.main-pic {
    width: 100%;
    height: 100%
}
.other-images {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    height: 500px;
    width: 100%;
    border: 1px green solid;
    overflow: hidden;
    
}

.other-images img{
    height: 100%;
    width: 100%;
    /* box-sizing: border-box; */
}



.middle-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-info {
    display: flex;
    flex-direction: column;
}

.reserve-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.price-rating-numReview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}
.spot-rating {
    padding-left: 5px;
}
.review-info {
    font-size: 20px;
}
.reserve {
    border: 2px solid black;
    background-color: rgb(224, 69, 69);
    color: white;
    padding: 10px 50px;
}

